$heading-color: black;
$main-heading-text-color: #f0fff0;

$light-scrollbar-track-color: #f0fff0;
$light-scrollbar-handle-color: #c0c0c0;
$light-scrollbar-handle-hover-color: #a9a9a9;

$puzzle-board-background-color: #ffdab9;
$purple-style-color: #8b008b;
$mild-green: #42c4ce;
