#supportCanvas {
  display: none;
}

.puzzle-board-wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: calc(100vw - 400px) !important;
  height: calc(100vh - 65px) !important;

  #puzzleBoard {
    background-color: #ffdab9;
    position: relative !important;
  }
}

::ng-deep .mat-drawer-content {
  height: auto;
}
