@import "../../../styles/layout-settings.scss";

.drawer-content {
  height: 100%;

  @media (min-width: 960px) {
    .puzzle-chooser-drawer {
      width: $large-left-panel-size;
    }
  }

  @media (max-width: 960px) {
    .puzzle-chooser-drawer {
      width: $medium-left-panel-size;
    }
  }
}
