
<mat-toolbar color="primary">
    <mat-toolbar-row class="puzzle-design-panel">
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Puzzle to play</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
            <button class="menu-component-item" color="accent" mat-button [routerLink]="'/puzzle/loadImage'">
                <span>Load image</span>
            </button>
            <button class="menu-component-item" color="accent" mat-button [routerLink]="'/puzzle/selectPuzzles'">
                <span>Play</span>
            </button>
            <button class="menu-component-item" color="accent" mat-button [routerLink]="'/puzzle/preview'">
                <span>Preview</span>
            </button>
            <button class="menu-component-item" color="accent" mat-button [routerLink]="'/puzzle/zoom'">
                <span>Zoom</span>
            </button>
            <button class="menu-component-item" color="accent" mat-button [routerLink]="'/puzzle/gallery'">
                <span>Gallery</span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="sidenav-block" fxHide.gt-sm>
    <mat-sidenav #sidenav>
        <mat-nav-list class="main-menu-navlist">
            <a [routerLink]="'/puzzle/loadImage'" mat-list-item>
                <mat-icon>load</mat-icon>
                <span>Load image</span>
            </a>
            <a [routerLink]="'/puzzle/selectPuzzles'" mat-list-item>
                <mat-icon>load</mat-icon>
                <span>Play</span>
            </a>
            <a [routerLink]="'/puzzle/preview'" mat-list-item>
                <mat-icon>load</mat-icon>
                <span>Preview</span>
            </a>
            <a [routerLink]="'/puzzle/zoom'" mat-list-item>
                <mat-icon>load</mat-icon>
                <span>Zoom</span>
            </a>
            <a [routerLink]="'/puzzle/gallery'" mat-list-item>
                <mat-icon>load</mat-icon>
                <span>Gallery</span>
            </a>
            <div class="vertical-spacer"></div>
            <mat-slide-toggle class="zoom-toggles" (change)="toggleZoom($event)" >Show / hide zoom</mat-slide-toggle>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
